node_modules/
npm-debug.log
yarn-error.log

# Laravel build artifacts
src/public/build
src/public/storage
src/public/hot

# Laravel 5 & Lumen specific
src/bootstrap/compiled.php
src/app/storage/

# Environment & config
src/.env
src/.env.backup
src/.env.production
src/auth.json
src/.phpactor.json
src/.scribe/

# Laravel cache & logs
src/storage/*.key
src/storage/pail
src/bootstrap/cache
src/storage/framework/
src/storage/logs
src/.phpunit.result.cache

# Vagrant
/.vagrant

# Frontend node_modules
src/frontend/node_modules/
src/frontend/dist/

